.ccontainer {
    display: flex;
        flex: 3;
        flex-grow: 3; 
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex .movie-card{
    width: calc(100%/3 - 5px*3);
    margin:5px;
    justify-content: space-between;
}

.mat-card{
    box-sizing: border-box;
}
        
